<h3><%= t('req_result.title') %></h3>
<p><%= t('req_result.text_html') %></p>
<p>
  <%= link_to t('req_result.showlink'), {controller: "certs", action: "show", id: @new_cert_id}, class: "btn btn-primary" %>
</p>
