<h3>証明書の詳細</h3>
<p>
  <strong>発行の状況</strong>
</p>
<p>
  <strong>PIN番号</strong>
  <% if @cert.pin %>
  <%= @cert.pin %>
  <% else %>
  まだPIN番号は発行されていません。申請完了メール送信までお待ちください。
  <% end %>
</p>
<p>
  <strong>発行日時</strong>
  <%= @cert.get_at %>
</p>

<p>
  <strong>有効期限</strong>
  <%= @cert.expire_at %>
</p>

<p>
  <strong>証明書タイプ</strong>
</p>

<%= link_to 'ポータルのトップページに戻る', {controller: "portal", action: "index"} %>

