<h3><%= t('top.title') %></h3>
<p><%= t('top.text') %></p>

<p><%= link_to t('top.req_btn'), {controller: "certs", action: "request_select"}, {class: "btn btn-default"} %></p>
<p><%= link_to t('top.cert_mng_btn'), {controller: "certs", action: "index"}, {class: "btn btn-default"} %></p>


